@import url('./variables.css');

/* ------- GENERAL ------- */

body {
    background-color: var(--background);
}

/* ------- FONTS ------- */

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Russo One";
    src: url("../fonts/RussoOne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.montserrat {
    font-family: "Montserrat", serif;
}

.russo_one {
    font-family: "Russo One", serif;
}

/* ------- BUTTON ------- */

.btn {
    font-family: var(--font-main), serif;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-button);
    color: var(--primary-text);
}

.btn:hover {
    background-color: var(--primary-button-hover);
}

.btn-main {
    font-size: var(--text-24);
    padding: 18px 30px;
}

.btn-profile {
    font-size: var(--text-20);
    padding: 8px 20px 8px 8px;
    gap: 12px;
    justify-content: flex-start;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--background-card);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.profile-icon.default {
    background-color: var(--background-card);
    background-image: url('../images/profile-icon.png');
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------- BANNER ------- */

.banner {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--primary-text);
}

/* ------- TEXT ------- */

.title {
    font-family: var(--font-titles), serif;
    color: var(--primary-text);
    margin: 10px 0;
    font-weight: 300;
}

p, span {
    color: var(--primary-text);
}

.p-sm {
    font-size: 0.875rem;
}

.p-md {
    font-size: 1rem;
}

.p-lg {
    font-size: 1.25rem;
}

/* ------- ICON CARD ------- */

.icon-card {
    background-color: transparent;
    border: 3px solid #005B99;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
}

.icon-card .card-icon img {
    height: 85px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.icon-card .card-text {
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #E6F7FF;
    text-align: center;
}

/* ------- CONTENT CARD ------- */

.cards-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    margin: 40px 0;
}

.content-card {
    background-color: var(--background-card);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    position: relative;
}

.content-card .card-title {
    width: 60%;
    margin: 0;
    padding: 30px;
}

.content-card .card-button-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 30px;
}

.content-card .card-text {
    color: #E6F7FF;
    font-family: Montserrat, serif;
    padding: 30px;
}