body, html {
    background-color: var(--background);
    font-family: var(--font-main), sans-serif;
    color: var(--primary-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}