.content-container {
    margin: 50px 190px;
}

.cards-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 0;
}

.content-title {
    padding: 60px 0 10px 60px;
}

.title-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.title-link:hover {
    text-decoration: underline;
    transform: scale(1.02);
}
