.element-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 15px;
    padding: 20px 30px;
    background-color: var(--background-secondary);
    min-height: 210px;
}

.element-card:hover {
    transform: scale(1.02);
}

.element-card-image {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.element-card-content {
    align-self: flex-start;
    position: relative;
    z-index: 2;
    text-align: left;
    justify-content: flex-start;
    text-shadow:
            0 -2px 8px var(--background-secondary),
            0  2px 6px var(--background);
}

.element-card-content.game {
    align-self: flex-start;
    margin-bottom: auto;
    margin-top: 0;
}

.element-card-content:not(.game) {
    margin-top: auto;
    margin-bottom: 0;
}

a.element-card {
    text-decoration: none;
    color: inherit;
}

a.element-card:hover {
    text-decoration: none;
}

.date-chip {
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-card);
    color: var(--primary-text);
    padding: 5px 30px;
    gap: 6px;
    border: 1px solid var(--background);
}