@import url('../variables.css');

.label {
    font-size: 24px;
    color: var(--primary-text);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.half-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input {
    background-color: var(--background-secondary);
    border: 2px solid var(--secondary-details);
    border-radius: 12px;
    color: var(--primary-text);
    font-family: var(--font-main), serif;
    font-size: 20px;
    padding: 10px;
}

.error {
    color: var(--error);
    font-size: var(--text-16);
    font-weight: 600;
    margin: 5px 0;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inline-container.submit-container {
    flex: 0 0 auto;
    width: auto;
}

.submit {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: var(--text-24);
    font-weight: 600;
}

.btn {
    font-family: var(--font-main), serif;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-button);
    color: var(--primary-text);
    padding: 8px 30px;
    max-width: 350px;
}

.btn:hover:not(:disabled) {
    background-color: var(--primary-button-hover);
}

.submit {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: var(--text-24);
    font-weight: 600;
}

.btn.secondary {
    background-color: var(--secondary-details);
    color: var(--secondary-text);
}

.btn.secondary:hover {
    background-color: var(--secondary-details-hover);
}

.input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 1;
}